@import url(neonBtn.css);
@import url(neonForm.css);
@import url(menuTasks.css);
@import url(calendar.css);
* {
    margin: 0;
    padding: 0;
    transition-duration: 300ms;
    box-sizing: border-box;
    --mainColor: #2196f3;
    --mainBg: #333;
    --mainColorText: rgb(163, 163, 163);
}
body {
    background-color: rgb(32,33,37);
    color: var(--mainColorText);
    font-family: sans-serif;
}
.signinBlock {
    position: relative;
    transition-duration: 500ms;
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form > form {
    padding: 15px 30px;
    border: 1px solid rgba(137,180,248, 0.5);
    border-radius: 4px;
    background-color: rgb(32,33,37);
    position: relative;
    z-index: 12;
}
.form > form:hover {
    padding: 35px 40px;
}
.inp {
    border: 0 solid rgba(0, 0, 0, 0);
    padding: 5px 10px;
    border-radius: 4px;
    background-color: rgb(76, 76, 78);
    color: rgb(240, 240, 240);
    outline: none;
    font-size: 1.1rem;
    display: block;
    margin: 10px;
    width: calc(100% - 20px);
    box-sizing: border-box;
}
.inp:focus {
    transform: scale(1.1);
}
.sign {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.btn {
    border: none;
    background: none;
    color: rgb(137,180,248);
    font-weight: 700;
}
.btn:hover {
    cursor: pointer;
    text-shadow: 0 0 5px rgb(137,180,248);
}


.date {
    background: none;
    color: rgb(137,180,248);
    border: none;
    outline: none;
}
footer {
    background-color: rgb(55,56,60);
    color: rgb(179,179,179);
    position: fixed;
    height: 70px;
    width: 100vw;
    bottom: 0;
    box-shadow: 0 0 17px rgb(22, 23, 26);
    z-index: 50;
}
.addBtn {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    position: fixed;
    bottom: 45px;
    left: calc(50vw - 30px);
    color: var(--mainColor);
    border: 6px solid rgb(32,33,37);
    box-shadow: 0 0 17px rgb(32,33,37);
    background-color: rgb(55,56,60);
    font-size: 3.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addBtn:active {
    color: rgb(124, 124, 124);
    text-shadow: 0 0 15px rgb(137,180,248);
    border: 6px solid rgb(137,180,248);
    box-shadow: none;
    transform: rotateZ(90deg);
}


h1 {
    margin: 20px 0px 20px 50px;
}
.task {
    display: flex;
    width: 100vw;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: flex-start;
}
.radio {
    border: 2px solid rgb(179,179,179);
    min-width: 20px;
    max-width: 20px;
    min-height: 20px;
    max-height: 20px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    transition-duration: 100ms;
}
.checkMark {
    border: 3px solid rgb(27, 238, 19);
    min-width: 10px;
    max-width: 10px;
    min-height: 20px;
    max-height: 20px;
    margin-left: 25px;
    margin-right: 25px;
    border-top: 0;
    border-left: 0;
    transform: rotateZ(35deg);
    transition-duration: 100ms;
}
.taskText {
    color: rgb(180,180,181);
    margin-right: 10px;
    max-height: 3rem;
    font-size: 1.4rem;
    text-overflow: ellipsis;
    overflow: hidden;
}
.taskTextChecked {
    overflow: hidden;
    color: rgb(180,180,181);
    margin-right: 10px;
    max-height: 3rem;
    font-size: 1.4rem;
    text-decoration: line-through;
    text-shadow: 0 0 5px rgb(179,179,179);
    text-decoration-color: rgb(27, 238, 19);
    text-overflow: ellipsis;
}
.addNewTask {
    position: fixed;
    top: 100vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(55,56,60);
    z-index: 51;
    display: none;
    animation: showNewTask 0.2s linear;
}
@keyframes showNewTask {
    0% {
        top: 100vh;
    }
    50% {
        top: 50vh;
    }
    100% {
        top: 0;
    }
}
.addNewTask > div {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.addNewTask > div > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#time {
    width: 70px
}

.error {
    display: none;
    box-sizing: border-box;
    position: fixed;
    top: 10px;
    margin: 20px;
    padding: 15px 30px;
    border-radius: 4px;
    background: repeating-linear-gradient(45deg,#df543b,#df543b 10px,#e05c45 10px,#e05c45 20px);
    width: calc(100vw - 40px);
    font-weight: 600;
    color:#333;
    text-align: center;
    animation: showError 0.4s linear;
    z-index: 999;
}
@keyframes showError {
    from {
        top: -200px;
    }
    to {
        top: 10px;
    }
}
.icon img {
    height: 1.6rem;
    padding: 0 10px;
}
hr {
    border-color: var(--mainColor);
}