::-webkit-datetime-edit { padding: 1em; }
::-webkit-datetime-edit-fields-wrapper { display: none; }
::-webkit-datetime-edit-text { color: red; padding: 0 0.3em; }
::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { 
    background: url("/public/img/pencil.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px!important;
    height: 20px!important;
}
@media only screen and (max-width: 1000px) {

}